<!-- Container -->
<main>

  <!-- File Uploader -->
  <div class="dropzone" appUploads (fileDropped)="onFileDropped($event)">
    <input #fileDropRef multiple type="file" accept="image/jpeg, image/jpg, image/png" (change)="fileBrowseHandler($event)">
    <img src="assets/images/upload.svg">
    <h3>Drag and drop slide here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for slide</label>
    <p>The accepted formats are jpg and png</p>
  </div>

  <!-- File Uploaded -->
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="assets/images/file.svg" class="file" width="45px" matTooltip="View" (click)="showImage(i)">
      <div class="info">
        <h4 class="name">{{ file?.name }}</h4>
        <p class="size">{{ formatBytes(file?.size, 2) }}</p>
        <div class="progress-cont">
          <div class="progress" [style.width]="file.progress + '%'"></div>
        </div>
      </div>
      <img src="assets/images/remove.svg" class="remove" width="20px" matTooltip="Remove" (click)="removeFile(i)">
    </div>
  </div>

</main>

<!-- Image Preview -->
<div class="modal" [style.display]="imageModal">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="image">
  <div id="caption">{{ name }}</div>
</div>
