/* Page */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Toolbar */
header {
  z-index: 2;
}

h1 {
  margin-left: 8px;
}

.mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

/* Sidenav */
.sidenav-container {
  flex: 1;
}

.mobile .sidenav-container {
  flex: 1 0 auto;
}

/* Menu */
.alignment {
  padding: 0;
}

.color {
  background-color: #eeeeee;
}

.active {
  background-color: #e0e0e0;
  color: #673ab7;
}

.active:hover {
  background-color: #e0e0e0;
  color: #673ab7;
}

.active:focus {
  background-color: #e0e0e0;
  color: #673ab7;
}

/* Footer */
footer {
  z-index: 2;
}

.center {
  width: 100%;
  text-align: center;
}

a {
  color: white;
}
