<!-- Page -->
<div class="container" [class.mobile]="mobileQuery.matches">

  <!-- Toolbar -->
  <header>
    <mat-toolbar color="primary" class="toolbar">
      <ng-container *ngIf="router.url === '/uploads' || router.url === '/slides'; else elseTemplate">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      </ng-container>
      <ng-template #elseTemplate>
        {{ closeSnav() }}
        <button mat-icon-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
      </ng-template>
      <h1>{{ title }}</h1>
      <span class="spacer"></span>
      <div *ngIf="router.url === '/uploads' || router.url === '/slides'">
        <button mat-icon-button routerLink="informations"><mat-icon>info</mat-icon></button>
      </div>
    </mat-toolbar>
  </header>

  <!-- Sidenav -->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!-- Menu -->
    <mat-sidenav #snav class="color" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="alignment">
        <a mat-list-item routerLink="slides" [routerLinkActive]="['active']"><mat-icon>dashboard</mat-icon>Slides</a>
        <a mat-list-item routerLink="uploads" [routerLinkActive]="['active']"><mat-icon>image</mat-icon>Uploads</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- Footer -->
  <footer>
    <mat-toolbar color="primary">
      <div class="center">
        <span>© 2022 Copyright: <a href="https://www.uniba.it/ricerca/dipartimenti/informatica">UniBa</a></span>
      </div>
    </mat-toolbar>
  </footer>
</div>
