/* Content */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Annotorious */
.r6o-editor .r6o-btn {
  background-color: rgba(0,0,0,.87);
  border: 1px solid rgba(0,0,0,.87);
}

.r6o-editor .r6o-btn:hover {
  background-color: rgba(0,0,0,.87);
  border: 1px solid rgba(0,0,0,.87);
}

.r6o-editor .r6o-btn.outline {
  color: rgba(0,0,0,.87);
  border: 1px solid rgba(0,0,0,.87);
}

.r6o-editor .r6o-btn.outline:hover {
  background-color: transparent;
}

.r6o-editor .r6o-footer .r6o-btn.left.delete-annotation {
  color: #f44336;
}

.r6o-editor .r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-wrapper {
  background-color: #f44336;
}

svg.a9s-annotationlayer .a9s-selection .a9s-outer,
svg.a9s-annotationlayer .a9s-annotation .a9s-outer {
  display: none;
}

svg.a9s-annotationlayer .a9s-handle .a9s-handle-outer {
  display: none;
}

svg.a9s-annotationlayer .a9s-selection .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation.improved-polygon.editable .a9s-inner {
  stroke-width: 4;
  stroke: rgba(0,0,0,.87);
  stroke-dasharray: 5;
}

svg.a9s-annotationlayer .a9s-selection .a9s-inner:hover,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner:hover  {
  stroke: rgba(0,0,0,.87);
}

svg.a9s-annotationlayer .a9s-annotation.editable:hover .a9s-inner {
  fill: transparent;
  stroke: rgba(0,0,0,.87);
}

svg.a9s-annotationlayer .a9s-handle .a9s-handle-inner,
svg.a9s-annotationlayer .a9s-annotation.improved-polygon.editable .a9s-handle .a9s-handle-inner {
  fill: white;
  stroke: rgba(0,0,0,.87);
  stroke-width: 3;
}

svg.a9s-annotationlayer .a9s-selection-mask {
  fill: rgba(0, 0, 0, 0.6);
}

/* Formatter */
.a9s-annotationlayer .a9s-formatter-el,
.a9s-annotationlayer .a9s-formatter-el foreignObject {
  overflow: visible;
  pointer-events: none;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper {
  position: relative;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  padding-bottom: 4px;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper .a9s-shape-label {
  display: table;
  padding: 3px 5px;
  white-space: nowrap;
  background-color: rgba(0,0,0,.87);
  color: white;
  border-radius: 3px;
  font-size: 14px;
}
